  <div class='poempage'>
    <div class='title'>
      <h1>ABOUT</h1>
    </div>

    <img class='pic' src='http://www.sweat-happy.com/wp-content/uploads/2012/09/dailypic5.jpg'>

    <div class='textblock'>
      <p>A nerdy knitter and developer in Seattle, Ellen is currently learning full Ruby stack at the Ada Developers Academy. Ellen has been interested in programming for most of her life, but she first became serious about learning how to code when she was working customer service at a company with a sub-par support site; she looked at the website and said to herself, "I could fix that." Since then, Ellen has used her passion for programming and experience working with a wide range of consumers to bridge the gap between the customer and the back-end.</p>
      <p>In her free time, Ellen enjoys doing ambitious crafts and spending time with her two cats, Starbuck and Athena, and her two greyhounds, Helo and Apollo.</p>
    </div>
  </div>