

    <div class='title'>
      <h1>ADA BLOG</h1>
    </div>


    <div class='subtitle'>
      <h2></h2>
    </div>


    <% if @recent %>
      <% sorted = @sorted_posts%>
      <% else%>
      <% sorted = @sorted_posts.reverse%>
    <% end %>



    <% @posts.each_with_index do |post, index| %>
      <% post << '.erb' %>
      <% post.insert(0, './views/posts/') %>
      <div class='textblock' id='post'>
      <div class='subheader'>
        <h3 class='post-title'><%= sorted[index][1]["title"] %></h3>
        <h3 class='date'><%= sorted[index][1]["date"] %></h3>
      </div>
      <% name = sorted[index][0] %>
      <div class='blogposts'>
        <%= erb("/posts/#{name}".to_sym, layout: false).split("\n\n", 2).last %>
      </div>
    </div>
  </div>

  <% end%>