<!DOCTYPE html>
<html>
  <head>
    <link href='css/main.css' media='all' rel='stylesheet'>
  </head>

<div id='glasses'>
  <img src='http://th06.deviantart.net/fs70/200H/i/2013/039/a/6/deal_with_it_glasses_by_stewartisme-d5tuvbk.png'alt='sweet glasses. deal with it.'>
</div>

<div class='kittens'>
  <img class='1' src='http://placekitten.com/200/300' alt='a kitten. deal with it.'><br>

  <img class='2' src='http://placekitten.com/100/300' alt='a kitten. deal with it.'><br>

  <img class='3' src='http://placekitten.com/200/100' alt='a kitten. deal with it.'><br>

  <img class='4' src='http://placekitten.com/200/200' alt='a kitten. deal with it.'><br>

  <img class='5' src='http://placekitten.com/400/300' alt='a kitten. deal with it.'><br>

  <img class='6' src='http://placekitten.com/400/400' alt='a kitten. deal with it.'><br>

  <img class='7' src='http://placekitten.com/300/400' alt='a kitten. deal with it.'><br>

  <img class='8' src='http://placekitten.com/400/500' alt='a kitten. deal with it.'><br>

  <img class='9' src='http://placekitten.com/500/400' alt='a kitten. deal with it.'><br>

  <img class='10' src='http://placekitten.com/500/500' alt='a kitten. deal with it.'><br>

  <img class='11' src='http://placekitten.com/500/300' alt='a kitten. deal with it.'><br>

  <img class='12' src='http://placekitten.com/300/500' alt='a kitten. deal with it.'><br>

  <img class='13' src='http://placekitten.com/600/300' alt='a kitten. deal with it.'><br>

  <img class='14' src='http://placekitten.com/600/500' alt='a kitten. deal with it.'><br>

  <img class='15' src='http://placekitten.com/500/600' alt='a kitten. deal with it.'><br>

  <img class='16' src='http://placekitten.com/600/600' alt='a kitten. deal with it.'><br>

</div>
</html>