    <div class='title'>
      <h1>ELLEN <br>WONDRA-LINDLEY</h1>
    </div>

    <div class='pic'>
      <img src='http://placekitten.com/600/500' alt='a cute kitten sleeping!'>
    </div>
  </div>

    <div class='subtitle'>
      <h2>Featured Post</h2>
    </div>
  
    <div class='textblock' id='featuredpost'>
      <div class='subheader'>
        <h3 class='post-title'><%= @sorted_posts.first[1]["title"] %></h3>
        <h3 class='date'><%= @sorted_posts.first[1]["date"] %></h3>
      </div>
      <% name = @sorted_posts.first[0] %>
      <%= erb("/posts/#{name}".to_sym, layout: false).split("\n\n", 2).last %>


    </div>
