/*Generic; sets the background image and fonts.
Also sets links.*/

body{
  background-image: url(http://etc-mysitemyway.s3.amazonaws.com/webtreats/assets/posts/776/full/grungy-vintage-dots-patterns-4.jpg);
  background-repeat: repeat;
  font-family: 'Balthazar', serif;
  font-size: 1em;
  color: black;
}

a{
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  margin: 2%;
}

a:hover{
  color: green;
  text-decoration: underline;
}

.textblock{
  width: 55%;
  background-color: white;
  opacity: .6;
  margin: auto;
  text-align: center;
}

.pic{
  margin-left: 330px;
  border: 2px solid black;
  width: 600px;
  height: 500px;
}

.footer{
  font-size: .75em;
  width: 45%;
  background-color: white;
  opacity: .75;
  margin: auto;
  margin-top: 5px;
  text-align: center;
}

.footer a{
  text-decoration: none;
  font-size: 1.2em;
  padding: none;
  color: green;
}

/*Icon bar (github, twitter, email)*/

#icons{
  margin: auto;
  width: 300px;
  height: 75px;
}

.icon{
  height: 65px;
  width: 65px;
}

#github{
  height: 55px;
  width: 55px;
}

/*The fixed nav bar that goes down each screen. This includes formatting of the dropdown menu.*/

#navbar{
  position: fixed;
  width: 30%;
  top: 50%;
  left: 50%;
  margin-left: -15%;
  margin-top: -15%;
  opacity: .75;
  z-index: 1;
}

ul li{
  position: relative;
  display: inline;
}

ul.dropdown{
  display: none;
}

ul li:hover ul.dropdown{
  display: inline-block;
}

ul.dropdown li{
  display: block;
  width: 100%;
  float: right;
}

/*Formatting of the next section of the page: the title and subtitle*/

.title{
  margin-top: 6%;
  text-align: center;
}

.subtitle{
  text-align: center;
}

/*The 'featuredpost' is a post on the index page*/
#featuredpost{
  padding: 15px;
}

/*.subheader contains the post title and the date*/
.subheader{
  display: inline-block;
  width: 100%;
}

.post-title{
  margin: 2%;
  float: left;
}

.date{
  margin: 2%;
  float: right;
}

/*The rest of the code on this page is for /dealwithit, which doesn't actually work yet.*/
#glasses{
  position: fixed;
  margin-top: -25px;
  margin-left: -150px;
  width: 100%;
  left: 50%;
  top: 50%;
  z-index: 1;
}

.kittens{
  width:75%;
  float: right;

}

.kittens img{
  position: relative;
  float: center;
}

.kittens img .1{
  margin-top: 150px;
  margin-left: 150px;
  border: 5px solid black;
}