date: 2013-12-01
title: One Month Down!

<p>We have officially finished our first month at Ada! It feels like we have been in class forever. It's definitely bizarre to think that a month and a half ago, I didn't even know that Ada existed. <br><br>

This week was pretty exciting, because we learned how to make websites. You have no idea how gratifying it is to finally be able to show your progress to friends and family without trying to talk them through installing Ruby first. Of course, it doesn't always help when some of them are developers. One in particular opened my blog on his smartphone and sent back a bug list of every CSS block that didn't line up perfectly.<br><br>

I essentially made three websites this week. The first was a vaguely cat-themed website. I copied large chunks from the example, added some content (thanks, placekitten.com!), and wrote some light CSS to adapt it to my needs. The second website was large chunks of the first website, with a lot of guess-and-check work on the CSS positioning and a content mash-up of random kittens and a personal site. The third website I started completely from scratch. I created this blog and I didn't write a single line of code that I didn't understand completely.<br><br>

My site might not be the shiniest--many of my classmates did some really amazing things with content, forms, and styling. It definitely isn't the coolest and the sleekest. I'm still very happy with it, though, because I feel like I got a real understanding of how CSS and HTML work. Also? I get to show this off to my family and friends when I talk about Ada over the holidays. I'd call that a win.<br><br>
</p>