date: 2013-12-8
title: My internet-face

<p>I dyed my hair purple last week, and I've been thinking about this change a lot, though not for the reasons you might expect.<br><br>

  I dyed my hair because for the first time in my life, I don't have a dress code. I can be whoever I want to be. I can walk around in sweatpants with my hair in curlers and a dirty face, and as long as I show up with my computer and a readiness to code, no one will care. I don't typically choose to do those things (sweatpants don't have enough pockets, for one), but I could if I wanted to, and that is freeing. It's amazing how easy it is to get sucked into being who you should be, instead of who you are.<br><br>

  This week, we had a quick lesson wherein we talked about our public persona and our "internet face." This coincided nicely with the hair-dyeing excitement. It all really boils down to who you are and how you want to be seen. All of that customer service experience, plus my Midwest upbringing, mean I tend to default to inoffensive and polite. I know that I can do professional. The question is, what kind of professional do I want to be?<br><br>

  In the end, I want to be the kind of professional who does good work. That's it. That's who I want to be. I want to work in a company where I am allowed to be a person in my off hours, and not just a cog in the machine. This isn't to say that I'm not happy doing quiet work in the background, just coggin' away. It just means that my life doesn't begin and end in my work. I don't want to represent myself as someone for whom that is true. I'm open, friendly, and enthusiastic. I spent my weekend pretending I don't have homework, watching Lord of the Rings and working on <a href='https://github.com/shanghaiellen/epicookbook'>this project</a>. I spend more time taking pictures of my pets than I do thinking about what to wear each day. That's just who I am.<br><br> 
</p>