date: 2013-11-03
title: First blog post!

<p> Hello, and welcome to my blog! Come on in. Stay awhile.<br><br>

Sometimes, I wonder if there is a non-awkward way to start a blog, but then one of my dogs starts drooling in my hair, and I can’t even be mad because at least he isn’t chewing on the cat bed, and I realize that I just don’t have time in my life for questions like that anymore.<br><br>

So: I’m Ellen. I live in West Seattle with my two greyhounds, Helo and Apollo, and my two cats, Starbuck and Athena (the Wondra-Lindleys are big BSG fans). Tomorrow, I start my second week at the Ada Developer’s Academy. It’s an intense academy that teaches women to become programmers. It seems so inadequate and reductive, describing Ada that way. Ada is a chance at a new life.<br><br>

Before I got into Ada, I was staring down a one-note resume. I had a lot of customer service jobs, and don’t get me wrong, I was really good at them. I’ve worked with people in just about every walk of life you can think of, and I enjoyed helping so many interesting people, but it quickly became apparent that in many of these positions, I was working triage on a problem that couldn’t be fixed without a few structural or developmental changes. People underestimate how much difference a well-written tech support site or some friendlier UI can make.<br><br>

Discontent with the number of calls I was getting about how hard our website was to read, and tired of trying to explain how much time a quick website tweak would save, I decided to get the tools to build my own solution. I started teaching myself HTML, CSS, and Javascript so I could build a better website. The company I worked for laughed at me for Coding While Female...and then, they stole my code.<br><br>

I quit, and then I started looking for a job that would let me grow into a job as a web developer. It was even harder than I had anticipated. It was so impossibly difficult to convince someone to take a chance on me. I’m a quick learner, and I knew that I would be able to learn anything I needed to, but without any training, and without enough programs to show off the skills I was learning, I couldn’t convince anyone to give me a shot. Other people had done it before, but it looked like it would take me years to build up the skills and the portfolio that would get me a decent dev job. Then, I heard about Ada Developer’s Academy.<br><br>

I can’t imagine all of the things I’m going to learn in the next year. I took an Introductory Java class in high school, and another in college. In the first week at Ada, we have completely covered all of the class material from both of those courses.  I’m terrified of how hard it’s going to be once we get into completely new territory next week. I am also blown away by the talent and tenacity of the women in the course who have never had any experience with programming at all. It took me weeks to learn how to break problems into little, solvable pieces, and some of these women are doing that in days. Between the intensive classes and the 6-month internship, we’ll all be skilled developers by the time Ada sends us back out into the real world.</p>